In [10]:
import pandas as pd

1 - Carregue o Dataset paises.csv e em seguida mostre:

In [11]:
df = pd.read_csv('../datasets/paises.csv', delimiter=';')
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000

a.Quais são os países da OCEANIA;

In [22]:
oceania_filtered = df[df['Region'].str.contains('OCEANIA')]

oceania_filtered.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000
11,Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000,100.0,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
47,Cook Islands,OCEANIA,21388,240,89.1,50.00,0.00,0.00,5000,95.0,289.9,17.39,13.04,69.57,2.0,21.00,0.00,0.151,0.096,0.753
67,Fiji,OCEANIA,905949,18270,49.6,6.18,-3.14,12.62,5800,93.7,112.6,10.95,4.65,84.40,2.0,22.55,5.65,0.089,0.135,0.776
71,French Polynesia,OCEANIA,274578,4167,65.9,60.60,2.94,8.44,17500,98.0,194.5,0.82,5.46,93.72,2.0,16.68,4.69,0.031,0.190,0.769

b.Quantos países são da OCEANIA;  
Dica: para busca de padrões textuais no Pandas, use métodos da subclasse str da Series. Ex: series.str.contains(‘texto’)

In [25]:
print(f'{oceania_filtered.size} países são da oceania')

420 países são da oceania

2 - Encontre o nome e a região do país que possui a maior população segundo este Dataset;

In [33]:
max_pop = df[df['Population'] == df['Population'].max()]
print(f'País com a maior poplação: {list(max_pop['Country'])[0]}')
print(f'Região deste país: {list(max_pop['Region'])[0]}')

País com a maior poplação: China
Região deste país: ASIA (EX. NEAR EAST)

3 - Agrupe os países por Regiões. Em seguida, mostre a média de alfabetização (Literacy (%)) de cada região do planeta;

In [38]:
region_group = df.groupby('Region')
region_group['Literacy (%)'].mean()

Region
ASIA (EX. NEAR EAST)                   79.553571
BALTICS                                99.733333
C.W. OF IND. STATES                    98.725000
EASTERN EUROPE                         72.816667
LATIN AMER. & CARIB                    88.640000
NEAR EAST                              69.581250
NORTHERN AFRICA                        56.033333
NORTHERN AMERICA                       78.200000
OCEANIA                                71.914286
SUB-SAHARAN AFRICA                     61.284314
WESTERN EUROPE                         80.821429
Name: Literacy (%), dtype: float64

4 - Busque o nome de todos os países do Dataset que não possuem costa marítima (Coastline (coast/area ratio) == 0) e guarde-os em um novo arquivo chamado noCoast.csv;

In [ ]:
no_coast = df[df['Coastline (coast/area ratio)'] == 0]['Country']
no_coast.to_csv('./results/noCoast.csv')

5 - Faça uma função que receba a taxa de mortalidade de cada país (Deathrate) e retorne o texto ‘Balanced’ caso o valor seja < 9 e ‘Urgent’ caso contrário. Em seguida, crie um campo no Dataset chamado ‘Humanitarian Help’ que receba estes valores para cada país. No final, mostre o Dataset para verificar se a inserção da nova coluna foi feita com sucesso.

In [53]:
def func(deathrate):
    return 'Balanced' if deathrate < 9 else 'Urgent'

df['Humanitarian Help'] = df['Deathrate'].apply(func)
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),...,Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service,Humanitarian Help
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,...,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380,Urgent
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,...,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579,Balanced
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,...,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298,Balanced
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,...,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000,Balanced
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000,100.0,...,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000,Balanced